# Check http://editorconfig.org for more information
# This is the main config file for this project:
# .editconfig 파일은 다양한 IDE 프로그램에서 일관된 코딩 스타일을 유지하도록
# 도움을 주는 파일으로써 이걸 프로젝트 루트 디렉토리에 추가하면 지원하는
# 편집기 (거의 다 됨)에서 자동으로 이 설정을 인식하고 적용시켜줌.
# 근데 VSC의 경우 별도의 플러그인 필요함 Extention에서 설치하면 됨.
# https://marketplace.visualstudio.com/items?itemName=EditorConfig.EditorConfig
# 위 사이트 참고.



# 이 파일이 최상위 EditorConfig 파일임을 나타낸다. 즉, 이 파일보다
# 상위 디렉토리에 다른 EditorConfig 파일이 있더라도 무시되는 것.
root = true

# 이하는 모든 파일에 적용되는 설정임.
[*]

# 파일의 문자 인코딩을 UTF-8로 설정함.
charset = utf-8

# 줄 끝 문자를 LF(Line Feed)로 설정함. 이는 주로 유닉스 계열 시스템에서 사용됨.
end_of_line = lf

# 파일의 마지막에 새 줄을 추가함.
insert_final_newline = true

# 들여쓰기를 공백으로 설정
indent_style = space

# 들여쓰기 크기를 2칸으로 설정함
indent_size = 2

# 줄 끝의 불필요한 공백을 제거함
trim_trailing_whitespace = true

# 이하는 .py 또는 .pyi 확장자를 가진 파일에 적용되는 설정임.
[*.{py, pyi}]

# 들여쓰기를 공백으로 설정
indent_style = space

# 들여쓰기 크기를 4칸으로 설정
indent_size = 4

# 이하는 Makefile에 적용되는 설정을 정의함.
[Makefile]

# 들여쓰기를 탭으로 설정
indent_style = tab

# .md 확장자를 가진 파일에 적용되는 설정을 의미함.
[*.md]

# 줄 끝의 불필요한 공백을 제거하지 않음
trim_trailing_whitespace = false

# 이하는 .diff 및 .patch 확장자를 가진 파일에 적용되는 설정임.
[*.{diff,patch}]

# 줄 끝의 불필요한 공백을 제거하지 않음.
trim_trailing_whitespace = false
