# git 저장소에서 파일의 속성을 정의하는데 사용되는 파일
# 이 파일을 통하여 특정 파일 형식에 대한 처리 방식을 지정할 수 있음
# GitHub 레포지토리에 넣어놓으면 해당 저장소의 모든 클론에 적용 됨.

# ex) .py 확장자를 가진 모든 파일에 대해서 줄 끝 문자를 LF(Line Feed)로 통일.
# Q. LF가 뭔가요?
# => 'Line Feed'를 의미하는 것으로 '줄 끝'을 나타냄 '줄의 끝'을 의미하는 만큼
# 다음 줄로 이동하도록 하는 역할을 함. '\n'으로 표현됨 (UNIX 기준)
# Windows 같은 경우에는 줄 끝을 나타내기 위해서 Carriage Return과 Line Feed를 같이 써서
# '\r\n'으로 표현됨.


*.py	eol=lf

# .rst 확장자를 가진 모든 파일에 대해서도 줄 끝 문자를 LF로 설정
*.rst	eol=lf

# .md 확장자를 가진 모든 파일에 대해서도 줄 끝 문자를 LF로 설정
*.md	eol=lf
